@charset "UTF-8";
/**
 * @class css.ie
 *
 * This is the IE Specific core/primary stylesheet for the whole site, all other stylesheets are pulled in by this one.
 * It compiles to assets/css/ie.css, only IE8 and below will see this file
 * Because IE8 and below does not support media queries we have removed these and also added extra specific IE styles below.
 *
 * ## Usage
 * Add to your base html file in a ie sepecific condition
 *
 *     <!--[if lte IE 8]>
 *         <link rel='stylesheet' href='/path/to/file/ie.css') }}' />
 *     <![endif]-->
 *
 */
/* Rasterized styles that span or start at the "desktop" breakpoint */
/**
 * @class css.imports
 */
/**
 * @class css.mixins.mixins
 *
 * Here we define the reusable helper mixins
 *
 * ## Usage
 * Import into your main file using
 *
 *     @import "__mixins/_mixins.scss";
 *
 *
 * ## Additional
 * We can also use compass which is a library of helper mixins. Here are the ones we commonly use:
 *
 * @include transition(all 0.3s ease-out);
 */
/**
 * Font
 * @param {Number/String} fontSize
 * @param {Number/String} lineHeight
 * @param {String} fontFamily
 * Usage:
 *     @include font(14, 16, $f-opensans);
 * Or
 *     @include font(14, 16);
 */
/**
 * Transparency
 * @param {String} color
 * @param {String} alpha
 *
 * Usage:
 *     @include background-transparent(#000, .8);
 */
/**
 * Border Radius
 *
 * Usage:
 *     @include border-radius(5px, 5px, 5px, 5px);
 */
/**
 * Text Shadow
 *
 * Usage:
 *     @include text-shadow(0, 3px, 3px, #333);
 */
/**
 * Box Shadow
 *
 * Usage:
 *     @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
 */
/**
 * Opacity
 *
 * Usage:
 *     @include opacity(0.5);
 */
/**
 * Transform
 *
 * Usage:
 *     @include transform(translateY(20px));
 */
/**
 * Bespoke Style vendor prefixer for simple CSS3 Properties
 *
 * Usage:
 *     @include css3(transition-delay, 0.4s);
 */
/**
 * Absolute Positioned
 *
 * Usage:
 *     @include absPosition(5px, 20px, 10px, 15px);
 */
/**
 * Retina Images (TODO: Work in progress)
 * Using this mixin you can combine media queries and normal CSS image replacement to send high
 * resolution images to retina devices and standard resolution images everywhere else. At first
 * please make a standard resolution image ex: logo.png and a high resolution image ex: logo-2x.png.
 * If it’s a retina display, add -2x after images name and set background-size.
 *
 *
 * Usage:
 *     @include imgRetina(logo, png, 100px, 40px);
 */
/**
 * Visually hidden, but have it available for screen readers
 *
 * Usage:
 *     @include vhdn;
 */
/**
 * Remove visually hidden
 *
 * Usage:
 *     @include vhdn-off;
 */
/**
 * Antialias Text
 *
 * Usage:
 *     @include anti-alias-text;
 */
/**
* @section SPACING VARIABLES
* Using these variables will save you a lot of time and effort, when the screen responds so will these values.
* Please take great care to select the correct ones, if an element is within the sidebar, use the sidebar variables.
* Sometimes there may be padding surrounding the element, to maintain accuracy use the -innr- variables.
* Feel free to add more if needed, and remember to update all these if the designs are changed with new widths.
*/
/**
 * @class css.base.normalize
 *
 * These are the reset styles for the site
 *
 * ## Usage
 * Import into your main file using
 *
 *     @import "__base/_normalize.scss";
 *
 */
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 34, ../../src/scss/__base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 44, ../../src/scss/__base/_normalize.scss */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 53, ../../src/scss/__base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 64, ../../src/scss/__base/_normalize.scss */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 78, ../../src/scss/__base/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 88, ../../src/scss/__base/_normalize.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 100, ../../src/scss/__base/_normalize.scss */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 108, ../../src/scss/__base/_normalize.scss */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 117, ../../src/scss/__base/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 130, ../../src/scss/__base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 139, ../../src/scss/__base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 148, ../../src/scss/__base/_normalize.scss */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 156, ../../src/scss/__base/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 164, ../../src/scss/__base/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 174, ../../src/scss/__base/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 186, ../../src/scss/__base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 195, ../../src/scss/__base/_normalize.scss */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
/* line 203, ../../src/scss/__base/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 211, ../../src/scss/__base/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 220, ../../src/scss/__base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 227, ../../src/scss/__base/_normalize.scss */
sup {
  top: -0.5em; }

/* line 231, ../../src/scss/__base/_normalize.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 243, ../../src/scss/__base/_normalize.scss */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 251, ../../src/scss/__base/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 263, ../../src/scss/__base/_normalize.scss */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 275, ../../src/scss/__base/_normalize.scss */
fieldset {
  margin: 0;
  padding: 0; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 285, ../../src/scss/__base/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 299, ../../src/scss/__base/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 311, ../../src/scss/__base/_normalize.scss */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 323, ../../src/scss/__base/_normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 338, ../../src/scss/__base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 348, ../../src/scss/__base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 358, ../../src/scss/__base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 369, ../../src/scss/__base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 382, ../../src/scss/__base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 391, ../../src/scss/__base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 401, ../../src/scss/__base/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 414, ../../src/scss/__base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * @class css.base.helpers
 *
 * Here we define the reusable helper classes
 *
 * ## Usage
 * Import into your main file using
 *
 *     @import "__base/_helpers.scss";
 *
 */
/**
 * Clearfix
 */
/* line 17, ../../src/scss/__base/_helpers.scss */
.cf {
  zoom: 1; }
  /* line 19, ../../src/scss/__base/_helpers.scss */
  .cf:before, .cf:after {
    content: "";
    display: table; }
  /* line 20, ../../src/scss/__base/_helpers.scss */
  .cf:after {
    clear: both; }

/**
* Hidden - Hide from both screenreaders and browsers:
*/
/* line 28, ../../src/scss/__base/_helpers.scss */
.hdn {
  display: none;
  visibility: hidden; }

/**
* Visually Hidden
*/
/* line 38, ../../src/scss/__base/_helpers.scss */
.vhdn {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 42, ../../src/scss/__base/_helpers.scss */
.vhdn-off {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/**
* Visually Hidden on Focus - Extends the .vhdn class to allow the element to be focusable
*/
/* line 52, ../../src/scss/__base/_helpers.scss */
.vhdn.focus:active,
.vhdn.focus:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/**
* Invisible - Hide visually and from screen readers, but maintain layout
*/
/* line 61, ../../src/scss/__base/_helpers.scss */
.invs {
  visibility: hidden; }

/**
 * @class css.base.colours
 *
 * Here we define the colour variables that are used throughout the other stylesheets
 *
 * ## Usage
 * Import into your main file using
 *
 *     @import "__base/_colours.scss";
 *
 */
/**
 * Shades of grey Colours
 *
 */
/**
 * Primary Colours
 *
 */
/**
 * Secondary Colours
 *
 */
/**
 * Collection Colours
 *
 */
/* line 63, ../../src/scss/__base/_colours.scss */
.theme-putty .theme-bg {
  background-color: #484848; }
/* line 66, ../../src/scss/__base/_colours.scss */
.theme-putty .theme-color {
  color: #484848; }

/* line 72, ../../src/scss/__base/_colours.scss */
.theme-orange .theme-bg {
  background-color: #ed8b00; }
/* line 75, ../../src/scss/__base/_colours.scss */
.theme-orange .theme-color {
  color: #ed8b00; }

/* line 81, ../../src/scss/__base/_colours.scss */
.theme-plum .theme-bg {
  background-color: #6e1e44; }
/* line 84, ../../src/scss/__base/_colours.scss */
.theme-plum .theme-color {
  color: #6e1e44; }

/* line 90, ../../src/scss/__base/_colours.scss */
.theme-earth .theme-bg {
  background-color: #665249; }
/* line 93, ../../src/scss/__base/_colours.scss */
.theme-earth .theme-color {
  color: #665249; }

/**
 * Social Colours
 *
 */
/**
 * @class css.base.fonts
 *
 * Here we define the font styles
 *
 * ## Usage
 * Import into your main file using
 *
 *     @import "__base/_fonts.scss";
 *
 */
/**
 * Declare your fonts here
 */
/**
 * @cfg {String} html - The globally used font styles are declared here
 */
/* line 23, ../../src/scss/__base/_fonts.scss */
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 29, ../../src/scss/__base/_fonts.scss */
body {
  font-family: "Roboto", sans-serif;
  word-wrap: break-word; }

/* line 34, ../../src/scss/__base/_fonts.scss */
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  line-height: 31px;
  font-size: 2.7rem;
  line-height: 3.1rem;
  font-weight: 300;
  color: #655248; }

/* line 44, ../../src/scss/__base/_fonts.scss */
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 34px;
  font-size: 3rem;
  line-height: 3.4rem; }

/* line 49, ../../src/scss/__base/_fonts.scss */
p,
li {
  font-size: 16px;
  line-height: 26px;
  font-size: 1.6rem;
  line-height: 2.6rem; }

/* line 53, ../../src/scss/__base/_fonts.scss */
a {
  text-decoration: none;
  color: #6e1e44; }

/* line 58, ../../src/scss/__base/_fonts.scss */
a:hover {
  text-decoration: underline; }

/* line 75, ../../src/scss/__base/_fonts.scss */
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span,
input,
label,
time {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
 * @class css.base.base
 *
 * This is for the remaining base/globally applied styles that cannot be defined in the other Base folder stylesheets (e.g. colours, fonts etc.)
 *
 * ## Usage
 * Import into your main file using
 *
 *     @import "__base/base";
 *
 */
/**
 * Custom Resets
 */
/* line 17, ../../src/scss/__base/_base.scss */
p, pre, blockquote, a, ul, ol, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

/**
 * body styling
 */
/* line 27, ../../src/scss/__base/_base.scss */
body {
  background-color: #f5f5f5;
  padding-top: 66px;
  overflow-x: hidden; }
  /* line 32, ../../src/scss/__base/_base.scss */
  .no-js body {
    padding: 0; }

/* line 37, ../../src/scss/__base/_base.scss */
img {
  max-width: 100%;
  height: auto;
  display: block; }

/* line 44, ../../src/scss/__base/_base.scss */
iframe {
  border: 0;
  max-width: 100%; }

/* line 49, ../../src/scss/__base/_base.scss */
.nav-fix {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  z-index: 801; }

/**
* Fix the box sizing
*/
/* line 64, ../../src/scss/__base/_base.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
* Accessibility Links
*/
/* line 73, ../../src/scss/__base/_base.scss */
.acc-links {
  top: 80px;
  left: 10px;
  position: absolute;
  z-index: 500; }

/* line 80, ../../src/scss/__base/_base.scss */
.acc-links li a {
  font-size: 26px;
  line-height: 30px;
  font-size: 2.6rem;
  line-height: 3rem;
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
  color: #fff;
  background: #000;
  padding: 10px; }

/**
* No Javascript/Browser Message
*/
/* line 94, ../../src/scss/__base/_base.scss */
.no-browser,
.no-script {
  background-color: #f5f5f5;
  border-bottom: 1px solid #000;
  color: #000;
  display: block;
  padding: 50px 20px;
  text-align: center;
  position: relative;
  z-index: 999; }
  /* line 104, ../../src/scss/__base/_base.scss */
  .no-browser p,
  .no-script p {
    font-size: 22px;
    line-height: 28px;
    font-size: 2.2rem;
    line-height: 2.8rem; }
  /* line 108, ../../src/scss/__base/_base.scss */
  .no-browser a,
  .no-script a {
    color: #ed8b00; }

/**
* Globally used classes
*/
/* line 118, ../../src/scss/__base/_base.scss */
.caption {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 300;
  border-left: 2px solid #f0921d;
  padding: 3px 0 3px 15px;
  margin: 15px 0 15px;
  color: #655248; }

/**
 * @class css.structure.structure
 *
 * These styles define the main site structure, at the lowest breakpoint everything is set to be 1 column and width 100%.
 *
 * ## Usage
 * Import into your main file using
 *
 *     @import "__structure/structure";
 *
 */
/**
 * @class css.pages.page
 *
 * Use this for default page styles that apply to all pages
 *
 * ## Usage
 * Import into your main file using
 *
 *     @import "__pages/page";
 *
 */
/* line 25, ../../src/scss/ie.scss */
.ie8 {
  background-color: #eeeeee; }
